<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  internalLogLevel="Trace">

  
  <targets>
    <target name="logfile" xsi:type="File" fileName="logs/${shortdate}.log"
            layout="${longdate} ${level} ${message}" />

    <!--<target name="logdatabase" xsi:type="Database"
        connectionString="${configsetting:item=ConnectionStrings.DefaultConnection}"
        dbProvider="Microsoft.Data.SqlClient.SqlConnection,Microsoft.Data.SqlClient"
        commandText="INSERT INTO LogTable (LogLevel, Message, StackTrace, Date) 
                     VALUES (@level, @message, @stackTrace, @date)"
        autoCreateSqlTables="true">
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@stackTrace" layout="${exception:format=ToString}" />
      <parameter name="@date" layout="${date}" />
    </target>-->

  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="logdatabase" />
  </rules>
</nlog>